Подготовка к работе

In [1]:
import sqlite3

In [37]:
con=sqlite3.connect('bd1.sqlite')

In [38]:
cur=con.cursor()

In [39]:
sql="""\
CREATE TABLE stud (id TEXT PRIMARY KEY,
fio TEXT, email TEXT);
CREATE TABLE sessija (id TEXT SECONDARY KEY,
Disz TEXT, Ozenka INTEGER, Prepod TEXT, Dat TEXT)
"""

In [40]:
cur.executescript(sql)

In [41]:
cur.close()
con.close()

In [7]:
con=sqlite3.connect('bd1.sqlite')
cur=con.cursor()
sql="""\
INSERT INTO stud (id,fio,email) VALUES ('15632458','Удалов И.А.','udalovia@mpei.ru')
"""
cur.execute(sql)
con.commit()
sql="""\
INSERT INTO stud (id,fio,email) VALUES ('456987235','Каримов Т.Т.','karimovtt@mpei.ru')
"""
cur.execute(sql)
con.commit()
cur.close()
con.close()

In [8]:
arr=[('15632458', 'ТАУ', 'Сидорова Е.Ю. ', 4, '21.01.2023'),( '456987235', 'ПО АС', 'Фомин Г.А. ',5, '25.12.2022')]
con=sqlite3.connect('bd1.sqlite')
cur=con.cursor()
sql="""\
INSERT INTO sessija (id, Disz, Ozenka, Prepod, Dat)
VALUES (?,?,?,?,?)"""
cur.executemany(sql,arr)
con.commit()
cur.close()
con.close()

In [ ]:
import runpy
runpy.run_module(mod_name="test3")

In [ ]:
import os,sqlite3
def select_cmd(): 
#просмотр таблицы с именем в tblname из БД с именем в dbname
    sql = 'SELECT * FROM {}'.format(tblname)
    with con:
        data = cur.execute(sql).fetchall()   
    return (data)
dbname=' ' 
###Выбор БД с проверкой ее наличия
while (os.path.isfile(dbname)!=True):
    dbname = input('Укажите имя файла SQLite: ') 
    if (os.path.isfile(dbname)==True): break
    print('Нет такого файла!')

tblname = input('Укажите имя таблицы: ') #ввод имени таблицы
con = sqlite3.connect(dbname)
cur = con.cursor()
dan=select_cmd()
nzap=len(dan)
print('Таблица: ',tblname,' из БД ',dbname)
for i in range(nzap):
    print(dan[i])
cur.close()
con.close()

In [ ]:
runpy.run_module(mod_name="test3")

In [ ]:
con=sqlite3.connect("bd1.sqlite")
cur=con.cursor()
cur.execute("SELECT * FROM stud")
ar=cur.fetchall()
cur.close()
con.close()
print(ar)

In [ ]:
con=sqlite3.connect('vuz.sqlite')
cur=con.cursor()

In [ ]:
sql="""\
SELECT name FROM sqlite_master WHERE type IN ('table','view') AND
name NOT LIKE 'sqlite_%' UNION ALL SELECT name FROM
sqlite_temp_master WHERE type IN ('table','view') ORDER BY 1;
"""
cur.execute(sql)

In [ ]:
con.commit()
#cur.fetchall()

In [ ]:
cur.fetchall()

In [18]:
cur.close()
con.close()

In [ ]:
con=sqlite3.connect('bd1.sqlite')
def my_factory(c,r):
###Функция для извлечения имен полей
  d={}
  for i,name in enumerate(c.description):
    d[name[0]]=r[i]
    d[i]=r[i]
  return(d)
con.row_factory=my_factory
cur=con.cursor()
cur.execute('SELECT * FROM stud')
ar=cur.fetchone()
cur.close()
con.close()
fld_names=list(ar.keys())[::2]
print(fld_names)

In [ ]:
con=sqlite3.connect('bd1.sqlite')
cur=con.cursor()
ar=[]; vv=[]
vv.append(input('Код зачетки студента='))
vv.append(input('ФИО студента = '))
vv.append(input('e-mail студента ='))
ar.append(tuple(vv))
print(ar)

In [ ]:
sql='INSERT INTO stud (id,fio,email) VALUES (?,?,?)'
cur.executemany(sql,ar)
con.commit()

cur.execute('SELECT * FROM stud')
ar1=cur.fetchall()
print(ar1)
cur.close()
con.close()

**Этап** 2
Выполнение задания (оформить красвио, убрать ненужные выводы)

In [62]:
con=sqlite3.connect('summary.sqlite')
cur=con.cursor()

In [63]:
sql="""\
CREATE TABLE disciplines (code TEXT PRIMARY KEY,
discipline TEXT, term INTEGER, type_certification TEXT, 
data_certification TEXT, fio_p TEXT, post TEXT, mark INTEGER, data_mark TEXT);
"""
cur.execute(sql)
cur.close()
con.close()

In [81]:
con=sqlite3.connect('summary.sqlite')
def my_factory(c,r):
###Функция для извлечения имен полей
  d={}
  for i,name in enumerate(c.description):
    d[name[0]]=r[i]
    d[i]=r[i]
  return(d)
con.row_factory=my_factory
cur=con.cursor()
cur.execute('SELECT * FROM disciplines')
ar=cur.fetchone()
cur.close()
con.close()
fld_names=list(ar.keys())[::2]
print(fld_names)

['code', 'discipline', 'term', 'type_certification', 'data_certification', 'fio_p', 'post', 'mark', 'data_mark']

In [56]:
import pandas as pd
def show_data():
  try:
    con=sqlite3.connect('summary.sqlite')
    cur=con.cursor()
    #Отображение текущего содержимого таблицы БД на экране в виде таблицы
    cur.execute('SELECT * FROM disciplines')
    ar1=cur.fetchall()
    #print(ar1)
    cur.close()
    con.close()
    con=sqlite3.connect('summary.sqlite')
    def my_factory(c,r):
    ###Функция для извлечения имен полей
      d={}
      for i,name in enumerate(c.description):
        d[name[0]]=r[i]
        d[i]=r[i]
      return(d)
    con.row_factory=my_factory
    cur=con.cursor()
    cur.execute('SELECT * FROM disciplines')
    ar=cur.fetchone()
    cur.close()
    con.close()
    fld_names=list(ar.keys())[::2]
    df = pd.DataFrame(columns = fld_names)
    for i in range(len(ar1)):
      df.loc[i] = ar1[i]
    df.set_index('code', inplace = True)
    display(df)
    return df
  except AttributeError:
    print("Oops!  That was empty table.  Try again...")

In [5]:
def save_data():
  name = input('Введите имя файла')
  gh=open(name+'.txt','w')
  con=sqlite3.connect('summary.sqlite')
  cur=con.cursor()
  #Отображение текущего содержимого таблицы БД на экране в виде таблицы
  cur.execute('SELECT * FROM disciplines')
  ar1=cur.fetchall()
  def my_factory(c,r):
  ###Функция для извлечения имен полей
    d={}
    for i,name in enumerate(c.description):
      d[name[0]]=r[i]
      d[i]=r[i]
    return(d)
  con.row_factory=my_factory
  cur=con.cursor()
  cur.execute('SELECT * FROM disciplines')
  ar=cur.fetchone()
  cur.close()
  con.close()
  fld_names=list(ar.keys())[::2]
  for r in fld_names:
    gh.write(r + ' ')
  for i in ar1:
    gh.write('\n')
    for j in i:
      gh.write(str(j) + ' ')
  gh.close()

In [37]:
def find_data():
  con=sqlite3.connect('summary.sqlite')
  cur=con.cursor()
  ar = input('Введите условие: ')
  sql="""\
  SELECT * FROM disciplines WHERE
  """ + ar
  cur.execute(sql)
  ar1=cur.fetchall()
  #print(ar1)
  con.commit()
  cur.close()
  con.close()
  con=sqlite3.connect('summary.sqlite')
  def my_factory(c,r):
  ###Функция для извлечения имен полей
    d={}
    for i,name in enumerate(c.description):
      d[name[0]]=r[i]
      d[i]=r[i]
    return(d)
  con.row_factory=my_factory
  cur=con.cursor()
  cur.execute('SELECT * FROM disciplines')
  ar=cur.fetchone()
  cur.close()
  con.close()
  fld_names=list(ar.keys())[::2]
  df = pd.DataFrame(columns = fld_names)
  for i in range(len(ar1)):
    df.loc[i] = ar1[i]
  df.set_index('code', inplace = True)
  display(df)

In [78]:
def action_with_data():
  while True:
    inp = input('Замена/Удаление ').lower()
    if inp == 'замена':
      con=sqlite3.connect('summary.sqlite')
      cur=con.cursor()
      ar = input('Введите имя поля: ')
      num = input('Введите новое значение: ')
      sql="""\
      UPDATE disciplines SET
      """ + ar + '=' + num
      cur.execute(sql)
      ar1=cur.fetchall()
      #print(ar1)
      con.commit()
      cur.close()
      con.close()
      break
      break
    elif inp == 'удаление':
      con=sqlite3.connect('summary.sqlite')
      cur=con.cursor()
      ar = input('Введите условие: ')
      sql="""\
      DELETE FROM disciplines WHERE
      """ + ar
      cur.execute(sql)
      #ar1=cur.fetchall()
      #print(ar1)
      con.commit()
      cur.close()
      con.close()
      break
    else:
      print("Неправильный ввод")

In [8]:
def add_data():
  print('Введите данные: ')
  arr = []
  arr.append(input('Код дисциплины по учебному плану - '))
  arr.append(input('Название дисциплины - '))
  arr.append(int(input('Номер семестра с аттестацией по дисциплине - ')))
  arr.append(input('Тип аттестации (экзамен/зачет) - '))
  arr.append(input('Дата аттестации - '))
  arr.append(input('ФИО преподавателя, проводившего аттестацию - '))
  arr.append(input('Должность преподавателя - '))
  arr.append(int(input('Полученная оценка - ')))
  arr.append(input('Дата занесения/обновления записи - '))
  arr = tuple(arr)
  ar = []
  ar.append(arr)
  con=sqlite3.connect('summary.sqlite')
  cur=con.cursor()
  sql="""\
  INSERT INTO disciplines (code, discipline, term, type_certification , 
data_certification, fio_p , post , mark , data_mark ) VALUES (?,?,?,?,?,?,?,?,?)
  """
  cur.executemany(sql,ar)
  con.commit()
  cur.close()
  con.close()

In [76]:
def user_choice():
  print('Отображение текущего содержимого таблицы БД на экране в виде таблицы - 1')
  print('Сохранение текущего содержимого таблицы БД в текстовый файл с задаваемым именем - 2')
  print('Выбор имени одного из полей БД и задание условия по значениям этого поля. Отображение строк, удовлетворяющих заданному условию - 3')
  print('Операции с подмножеством строк: удаление из БД, замена значений во всех строках в указанном поле на заданное значение - 4')
  print('Добавление новой строки с заданными значениями полей в таблицу БД - 5')
  print('Завершение работы с программой - 6')
  while True:
    print('Выберете действие(введите соответсвующее число):')
    command = input()
    if command == '1':
      show_data()
    elif command == '2':
      save_data()
    elif command == '3':
      find_data()
    elif command == '4':
      action_with_data()
    elif command == '5':
      add_data()
    elif command == '6':
      break

In [83]:
while True:
    print('Начать работу? (да/нет)')
    user_input = input().lower()
    if user_input == 'да':
      user_choice()
      break
    elif user_input == 'нет':
      break
    else:
      print('Введите корректное значение!')

Начать работу? (да/нет)
да
Отображение текущего содержимого таблицы БД на экране в виде таблицы - 1
Сохранение текущего содержимого таблицы БД в текстовый файл с задаваемым именем - 2
Выбор имени одного из полей БД и задание условия по значениям этого поля. Отображение строк, удовлетворяющих заданному условию - 3
Операции с подмножеством строк: удаление из БД, замена значений во всех строках в указанном поле на заданное значение - 4
Добавление новой строки с заданными значениями полей в таблицу БД - 5
Завершение работы с программой - 6
Выберете действие(введите соответсвующее число):
4
Замена/Удаление Замена
Введите имя поля: term
Введите новое значение: 3
Выберете действие(введите соответсвующее число):
1

,discipline,term,type_certification,data_certification,fio_p,post,mark,data_mark
code,,,,,,,,
3231,Компьютерная графика,3,зачёт,28.12.21,Лешихина И.Е.,Сотрудник,4,28.12.21
2311,Математический анализ,3,экзамен,13.01.22,Бирюков А.М.,Сотрудник,4,13.01.22
5334,"Математический анализ, ч.2",3,экзамен,27.01.22,Булычева О.Н,Сотрудник,5,27.01.22
1312,Статистические методы в инженерных исследованиях,3,экзамен,18.01.22,Виноградова Н.А.,Сотрудник,4,18.01.22
7643,Элективные курсы по физической культуре и спорту,3,зачёт,28.12.21,Степанов Г.А,Сотрудник,5,28.12.21
9755,Электротехника,3,экзамен,22.01.22,Ковалева Т.Ю,Сотрудник,4,22.01.22
2123,Вычислительные методы,3,зачёт,09.06.22,Вестфальский А.Е.,Сотрудник,4,09.06.22
8975,Информационные технологии,3,экзамен,04.07.22,Фомин Г.А.,Сотрудник,5,04.07.22
1029,Методы оптимизации,3,экзамен,17.06.22,Скибицкий Н.В.,Сотрудник,3,17.06.22
4702,Статистические методы в инженерных исследованиях,3,зачёт,09.06.22,Виноградова Н.А.,Сотрудник,4,09.06.22
1230,Электроника,3,экзамен,28.06.22,Жохова М.П.,Сотрудник,4,28.06.22
1093,Электротехника,3,экзамен,22.06.22,Ковалева Т.Ю.,Сотрудник,3,22.06.22

Выберете действие(введите соответсвующее число):
4
Замена/Удаление Удаление
Введите условие: mark<4
Выберете действие(введите соответсвующее число):
1

,discipline,term,type_certification,data_certification,fio_p,post,mark,data_mark
code,,,,,,,,
3231,Компьютерная графика,3,зачёт,28.12.21,Лешихина И.Е.,Сотрудник,4,28.12.21
2311,Математический анализ,3,экзамен,13.01.22,Бирюков А.М.,Сотрудник,4,13.01.22
5334,"Математический анализ, ч.2",3,экзамен,27.01.22,Булычева О.Н,Сотрудник,5,27.01.22
1312,Статистические методы в инженерных исследованиях,3,экзамен,18.01.22,Виноградова Н.А.,Сотрудник,4,18.01.22
7643,Элективные курсы по физической культуре и спорту,3,зачёт,28.12.21,Степанов Г.А,Сотрудник,5,28.12.21
9755,Электротехника,3,экзамен,22.01.22,Ковалева Т.Ю,Сотрудник,4,22.01.22
2123,Вычислительные методы,3,зачёт,09.06.22,Вестфальский А.Е.,Сотрудник,4,09.06.22
8975,Информационные технологии,3,экзамен,04.07.22,Фомин Г.А.,Сотрудник,5,04.07.22
4702,Статистические методы в инженерных исследованиях,3,зачёт,09.06.22,Виноградова Н.А.,Сотрудник,4,09.06.22
1230,Электроника,3,экзамен,28.06.22,Жохова М.П.,Сотрудник,4,28.06.22

Выберете действие(введите соответсвующее число):
5
Введите данные:
Код дисциплины по учебному плану - 6926
Название дисциплины - Социология
Номер семестра с аттестацией по дисциплине - 4
Тип аттестации (экзамен/зачет) - зачет
Дата аттестации - 28.12.21
ФИО преподавателя, проводившего аттестацию - Кузьминов М.Ю.
Должность преподавателя - Сотрудник
Полученная оценка - 5
Дата занесения/обновления записи - 28.12.21
Выберете действие(введите соответсвующее число):
1

,discipline,term,type_certification,data_certification,fio_p,post,mark,data_mark
code,,,,,,,,
3231,Компьютерная графика,3,зачёт,28.12.21,Лешихина И.Е.,Сотрудник,4,28.12.21
2311,Математический анализ,3,экзамен,13.01.22,Бирюков А.М.,Сотрудник,4,13.01.22
5334,"Математический анализ, ч.2",3,экзамен,27.01.22,Булычева О.Н,Сотрудник,5,27.01.22
1312,Статистические методы в инженерных исследованиях,3,экзамен,18.01.22,Виноградова Н.А.,Сотрудник,4,18.01.22
7643,Элективные курсы по физической культуре и спорту,3,зачёт,28.12.21,Степанов Г.А,Сотрудник,5,28.12.21
9755,Электротехника,3,экзамен,22.01.22,Ковалева Т.Ю,Сотрудник,4,22.01.22
2123,Вычислительные методы,3,зачёт,09.06.22,Вестфальский А.Е.,Сотрудник,4,09.06.22
8975,Информационные технологии,3,экзамен,04.07.22,Фомин Г.А.,Сотрудник,5,04.07.22
4702,Статистические методы в инженерных исследованиях,3,зачёт,09.06.22,Виноградова Н.А.,Сотрудник,4,09.06.22
1230,Электроника,3,экзамен,28.06.22,Жохова М.П.,Сотрудник,4,28.06.22
6926,Социология,4,зачет,28.12.21,Кузьминов М.Ю.,Сотрудник,5,28.12.21

Выберете действие(введите соответсвующее число):
6